/* TopBar */
.topBar{
    box-shadow: 1px 1px 10px 1px #cbc9c9;
}
/* //TopBar// */
/* sideBar */
.sideBar{
    width: 20%;
    border-right: 1px solid;
    height: 100vh;
}
.sideBar .user{
    padding: 15px;
    display: flex;
    align-items: center;
}
.sideBar a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 6px;
    transition: .3s;
    color: #F44336;
    width: 100%;
}
.sideBar .user:hover a{
    background-color: #9C27B0;
}
.sideBar i{
    color: #00BCD4;
    font-size: 30px;
    margin: 10px 20px 0px 0px;
}
.active{
    background-color: #8e27b0cf;
}

/* //sideBar// */
/* users */
table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th , 
td{
    margin: 20px;
    padding: .75rem;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #3F51B5;
    text-align: center;
}
table thead tr th{
    background-color: #00BCD4;
    color: white;
}
table tbody tr td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* //users// */
/* Products */
.products{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px auto;
}
.product{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: 2px solid red;
    margin: 10px;
    border-radius: 5px;
}
.product h3{
    font-size: 30px;
    margin: 10px;
}
.product h6{
    font-size: 20px;
    margin: 5px;
}
.product img{
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
}
