/* TopBar */
.topBar{
    box-shadow: 1px 1px 10px 1px #cbc9c9;
}
/* //TopBar// */
/* sideBar */
.sideBar{
    width: 20%;
    border-right: 1px solid;
    height: 100vh;
}
.sideBar .user{
    padding: 15px;
    display: flex;
    align-items: center;
}
.sideBar a{
    text-decoration: none;
    font-weight: 700;
    border-radius: 6px;
    transition: .3s;
    color: #F44336;
    width: 100%;
    padding: 10px 0px;
}
.sideBar .user:hover a{
    background-color: #9C27B0;
}
.sideBar i{
    color: #00BCD4;
    font-size: 30px;
    margin: 10px 20px 0px 0px;
}
.active{
    background-color: #8e27b0cf;
}

/* //sideBar// */
/* users */
table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th , 
td{
    margin: 20px;
    padding: .75rem;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #3F51B5;
    text-align: center;
}
table thead tr th{
    background-color: #00BCD4;
    color: white;
}
table tbody tr td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* //users// */
/* Products */
.products {
    padding: 20px;
    margin: 10px auto;
}

/* كل منتج عبارة عن كارت */
.product {
    border: 2px solid #ddd;  /* لون أهدى بدل الأحمر */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05); /* تأثير تكبير عند التحويل */
}

.product h3 {
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
}

.product h6 {
    font-size: 18px;
    margin: 5px;
    color: #555; /* لون أفتح للوصف */
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0; /* زوايا ناعمة للصورة */
}

